*,*:before,*:after{
		box-sizing: border-box;
}

body{
	font-family: serif;
	padding: 20px 15px;
}
	
h1{
	background-color: red;
	color: white;
}

a{
	text-decoration: none;
	color: gray;
	transition: all 0.2s;
	/*transition-property: all;
	transition-duration: 1s;
	transition-timing-function: ease;
	transition-delay: 2s;*/
}

img {
	max-width: 100%;
	height: auto;
}

.container{
	max-width: 1000px;
	margin: 0 auto;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	box-shadow: 0 0 35px rgba(0,0,0,0.1);
}

header{
	display: flex;
	padding: 15px;
	justify-content: space-between;
}

.slider{
	overflow: hidden;
}
.slider img{
	display: block;
	transition: transform 0.2s;
}
.slider img:hover{
	transition: transform 0.2s;
	transform: rotate(5deg) scale(1.3);
}

.brand a,
.brand img{
	display: block;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li{
	display: inline-block;
	margin: 0 3px;
}

nav a{
	color: #000;
	padding: 10px 15px;
	display:block;
}

nav a:hover{
	color: #fff;
	background: #000;
}

/*Main*/
main{
	display: flex;
	justify-content: space-between;
}

article{
	width: 70%;
	padding: 30px;
}

aside{
	background-color: #eef1ef;
	border-left: 1px solid #c4c7c5;
	width: 30%;
	padding: 20px;
}

footer{
	background-color: #eef1ef;
	border-top: 1px solid #c4c7c5;
	text-align: center;
	padding: 20px 15px;
}

.widget img{
	float: left;
    margin: 0 10px 5px 0;
}

.widget ul{
	list-style-type: square;
	padding: 0 0 0 20px;
	margin: 0;
}

.widget li{
	margin-bottom: 10px;
}

.widget{
	margin-bottom: 40px;
}

.widget:after{
		content: '';
		display: table;
		clear: both;
	}

@media(max-width:800px){
	header{
		flex-direction: column;
}
	.brand{
		margin-bottom: 25px;
	}
	main{
		flex-direction: column;
	}
	article, aside{
		width: 100%;
		padding: 25px;
	}
	article h1{
		text-align: center;
	}
	article img{
		display: block;
		width: 100%;
		margin: 30px auto;
	}
	aside{
		border: 0;
	}
	nav ul{
		text-align: center;
	}
}

@media(max-width: 500px){
	nav{
		width: 100%;
	}
	nav li{
		display: block;
	}
	header{
		padding-bottom: 20px;
		border-bottom: 1px solid #e1e1e1;
	}
	.slider{
		display: none;
	}
	article h1{
		margin-top: 0;
	}
}
